.body-background--black {
    background: black;
}
.light-black--background {
    background: #272727;
}
.navbar-button--padding {
    padding-left: 30px;
    padding-right: 30px;
}
.navbar-li--links {
    text-align: center;
}
.navbar-a--text {
    font-weight: bold;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: rgba(255,255,255,.55);
}
.navbar-a--text:hover {
    color: #FF9001;
}
.navbar--button {
    background-color: #bb8640;
    color: rgb(226, 226, 226);
    border-radius: 35px;
    transition: all .5s linear 0s;
}
.navbar--button:hover {
    background-color: #FF9001;
    color: #fff;
}
.carousel-button--color {
    color: #fff;
    background-color: #272727;
    border-color: #272727;
    transition: all .3s linear 0s;
}
.carousel-button--color:hover {
    color: #272727;
    background-color: #fff;
    border-color: #fff;
}
.carousel-div--background {
    background-color: #000;
    color: #fff;
}
.carousel-h2--text-size {
    font-size: 40px;
}
.icons-span--color {
    font-size: 1.8rem;
    padding-left: 20px;
}
.icons-span--color > a {
    color: rgb(148, 148, 148);
}
.icons-span--color > a:hover {
    color: #FF9001;
}
.footer {
    background-color: #353535;
    color: #fff;
}
.footer--position {
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}
footer li, footer h6 {
    text-align: center;
}
footer h6 {
    margin-bottom: 10px;
}
footer li {
    margin-bottom: 10px;
}
.footer-li--a {
    color: #fff;
    text-decoration: none;
}
.footer-li--a:hover {
    color: #FF9001;
    text-decoration: underline;
}
.footer--mobile-spacing {
    padding-bottom: 30px;
}
.card--custom {
    width: 100%;
    background-color: #272727;
    color: white;
    text-align: center;
}
.card--height {
    height: 18rem;
}
.card-image--container {
    overflow: hidden;   
}
.card-image--container  img {
    transition: transform .5s ease;
}
.card-image--container:hover img {
    transform: scale(1.2);
}

.card--link {
    color: #fff;
    text-decoration: none;
}
.cards--spacing {
    margin: 80px 0;
}
.cards--spacing > div {
    margin-bottom: 30px;
}
.form-label--color {
    color: rgb(180, 12, 12);
}
.card-image--size {
    width: 100%;
    height: 22rem;
}

.menu-item--italic {
    font-style: italic;
}
.text--capitalize {
    text-transform: capitalize;
}
.menu-item--price {
    font-weight: bold;
    border-radius: 5px;
    background: #535353;
    color: #FF9001;
}
.menu-item--price {
    height: 12rem;
}
.menu--breadcrumb {
    background: #272727;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -1rem;
}
.menu--breadcrumb a {
    color: #fff;
    text-decoration: none;
}
.menu--breadcrumb a:hover {
    color: #FF9001;
    text-decoration: underline;
}
.card-button--absolute {
    position: absolute;
    right: 0;
    bottom: 0px;
}
.card-button--absolute a:hover, .card-button--absolute i:hover {
    color: red;
}
.card-button--absolute a {
    color: rgb(185, 54, 54);
    text-decoration: none;
}
.card-button--absolute i {
    color: rgb(185, 54, 54);
}
.button--width {
    max-width: 250px;
}
#map {
    height: 295px;
}
@media (min-width: 768px) {
    .carousel-h2--text-size {
        font-size: 50px;
    }   
    .footer--position-right {
        text-align: left;
    }
    .footer--position-left {
        text-align: left;
    }
    footer h6 {
        margin-bottom: 30px;
    }
    .footer--mobile-spacing {
        padding-bottom: 0;
    }
    .cards--spacing > div {
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .carousel-h2--text-size {
        font-size: 75px;
    }   
}