{% extends "base.html" %}
{% block content %}

<main>
    <div class="container">
      <div class="row row-content">
        <div class="col-12 col-lg-6 align-self-lg-center text-white text-center text-lg-left">
            <h2>{{message}}</h2>
            <div class="d-none d-lg-block">
                <img src="{{url_for('static', filename='images/logo.svg')}}" alt="" width="500">
            </div>
        </div>

        <div class="col col-lg py-5 py-lg-0 align-self-lg-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning">
                    <ul class="m-0">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            {% endwith %}

            <h2 class="text-white">Coming Soon...</h2>
        </div>
      </div>
    </div>
  </main>


{% endblock %
